h1 {
  color: #0690be;
  font-size: 25px;
  padding: 15px;
  margin: 0 auto;
}
#city {
  border-radius: 80px;
  padding: 5px;
  border-color: #6ad5f8;
}
.form-control {
  border-radius: 80px;
  padding: 5px;
  border-color: #6ad5f8;
  border-width: 2px;
  width: 100px;
}
#current-location {
  border-radius: 80px;
  padding: 5px;
  border-color: #6ad5f8;
  background-color: #6ad5f8;
  margin: 5px;
}

#time {
  margin: 0;
  font-size: 15px;
  color: #0690be;
  font-weight: bold;
}
p {
  color: #0690be;
  font-size: 15px;
}
#icon {
  display: block;
  width: 150px;
  margin: 0;
}
img {
  width: 30px;
}

.container {
  max-width: 500px;
  border: solid;
  background: radial-gradient(
    circle at -2.2% -3.8%,
    rgba(255, 227, 2, 0.41) 0%,
    rgb(59, 188, 241) 100.2%
  );
  border-radius: 15px;
  border-color: #0690be;
  bottom: 0;
  max-height: 600px;
  display: block;
  margin: 0 auto;
  padding: 30px;
  right: 0;
}

.description {
  color: hsla(53, 98%, 51%, 0.904);
  margin: 0;
  font-size: 20px;
}
.currentTemp {
  font-size: 40px;
  color: hsla(53, 98%, 51%, 0.9045);
}
.celsius,
.fahrenheit {
  border: none;
  color: #0690be;
}

#days {
  color: #0690be;
}
#pressure {
  color: hsla(53, 98%, 51%, 0.904);
  margin: 0;
}
#humidity {
  color: hsla(53, 98%, 51%, 0.904);
}
.message {
  font-weight: initial;
  font-size: 15px;
  text-align: center;
  color: hsla(53, 98%, 51%, 0.904);
}

.week {
  color: #0690be;
}
#code,
a {
  font-size: small;
}
