h1 {
  color: #0690be;
  font-size: 30px;
}
#city {
  border-radius: 80px;
  padding: 5px;
  border-color: #6ad5f8;
  margin: 0 auto;
}
.form-control {
  border-radius: 80px;
  padding: 5px;
  border-color: hsla(53, 98%, 51%, 0.9045);
  width: 100px;
}
#current-location {
  border-radius: 80px;
  padding: 5px;
  border-color: hsla(53, 98%, 51%, 0.9045);
  background-color: #6ad5f8;
  margin: 5px;
}

#time {
  margin: 0;
  font-size: 15px;
  color: #0690be;
  padding: 5px;
}
p {
  color: black;
  font-size: 12px;
  font-weight: bold;
  margin: 0 auto;
}
#icon {
  display: block;
  width: 120px;
  margin: 0;
}
img {
  width: 30px;
}

.container {
  max-width: 400px;
  border: solid;
  background: radial-gradient(
    circle at -2.2% -3.8%,
    rgba(255, 227, 2, 0.41) 0%,
    rgb(59, 188, 241) 100.2%
  );
  border-radius: 15px;
  border-color: hsla(53, 98%, 51%, 0.9045);
  bottom: 0;
  max-height: 600px;
  display: block;

  padding: 30px;
  right: 0;
}

.description {
  color: hsla(53, 89%, 82%, 0.904);
  margin: 0 auto;
  font-size: 20px;
}
.currentTemp {
  font-size: 30px;
  color: hsla(53, 98%, 51%, 0.9045);
  padding: auto;
  margin: 0;
}
.celsius,
.fahrenheit {
  border: none;
  color: #0690be;
}

#weather-forecast {
  color: #0690be;
}
#pressure {
  color: hsla(53, 98%, 51%, 0.904);
  margin: 0;
}
#humidity {
  color: hsla(53, 98%, 51%, 0.904);
}

.week {
  color: #0690be;
  font-weight: bold;
}
.weather-forecast-temp-max {
  font-weight: bold;
  font-size: small;
  color: #0690be;
}
.weather-forecast-temp-min {
  font-size: small;
}
#code,
a {
  font-size: small;
  text-align: center;
  padding: 10px;
  margin: 5px;
}
